<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="PLC IP" value="192.168.0.1" />
		<add key="直流电阻COM" value="COM3" />
		<add key="直流电阻IP" value="192.168.1.202" />
		<add key="直流电阻端口" value="4196" />
		<add key="耐压测试仪COM" value="COM8" />
		<add key="耐压测试仪IP" value="192.168.1.200" />
		<add key="耐压测试仪端口" value="4196" />
		<add key="绝缘表COM" value="COM4" />
		<add key="绝缘表IP" value="192.168.1.59" />
		<add key="绝缘表端口" value="502" />
		<add key="电能测试仪COM" value="COM9" />
		<add key="电能测试仪IP" value="192.168.1.201" />
		<add key="电能测试仪端口" value="4196" />
		<add key="单相电源串口号" value="COM1" />
		<add key="数据库地址" value="8.130.166.6" />
		<add key="数据库账号" value="sa" />
		<add key="数据库密码" value="sa12345" />
		<add key="绝缘本底值" value="12" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="硬件调试状态" value="false" />
		<add key="启用虚拟数据" value="true" />
		<add key="温度模块COM" value="COM9" />
		<!--17-->
		<add key="PC开机信号" value="DB1600.0.0" />
		<!--18-->
		<add key="电阻AB测试开始" value="DB1600.1.0" />
		<!--19-->
		<add key="电阻AB测试停止" value="DB1600.1.1" />
		<!--20-->
		<add key="电阻BC测试开始" value="DB1600.1.2" />
		<!--21-->
		<add key="电阻BC测试停止" value="DB1600.1.3" />
		<!--22-->
		<add key="耐压测试开始" value="DB1600.2.0" />
		<!--23-->
		<add key="绝缘测试开始" value="DB1600.2.2" />
		<!--24-->
		<add key="满电流测试开始" value="DB1600.3.0" />
		<!--25-->
		<add key="满电流测试停止" value="DB1600.3.1" />
		<!--26-->
		<add key="半电流测试开始" value="DB1600.3.2" />
		<!--27-->
		<add key="半电流测试停止" value="DB1600.3.3" />
		<!--28-->
		<add key="制动器跑合OK" value="DB1610.4.0" />
		<!--29-->
		<add key="制动器跑合NG" value="DB1610.4.1" />
		<!--30-->
		<add key="转矩测量OK" value="DB1610.4.2" />
		<!--31-->
		<add key="转矩测量NG" value="DB1610.4.3" />
		<!--32-->
		<add key="残留转矩测量OK" value="DB1610.4.4" />
		<!--33-->
		<add key="残留转矩测量NG" value="DB1610.4.5" />
		<!--34-->
		<add key="电阻AB相ERROR" value="DB1610.1.0" />
		<!--35-->
		<add key="电阻AB相BUSY" value="DB1610.1.1" />
		<!--36-->
		<add key="电阻AB相OK" value="DB1610.1.2" />
		<!--37-->
		<add key="电阻AB相NG" value="DB1610.1.3" />
		<!--38-->
		<add key="绝缘耐压ERROR" value="DB1610.2.0" />
		<!--39-->
		<add key="绝缘耐压BUSY" value="DB1610.2.1" />
		<!--40-->
		<add key="耐压OK" value="DB1610.2.2" />
		<!--41-->
		<add key="耐压NG" value="DB1610.2.3" />
		<!--42-->
		<add key="满电流ERROR" value="DB1610.3.0" />
		<!--43-->
		<add key="满电流BUSY" value="DB1610.3.1" />
		<!--44-->
		<add key="满电流OK" value="DB1610.3.2" />
		<!--45-->
		<add key="满电流NG" value="DB1610.3.3" />
		<!--46-->
		<add key="半电流ERROR" value="DB1610.3.0" />
		<!--47-->
		<add key="半电流BUSY" value="DB1610.3.1" />
		<!--48-->
		<add key="半电流OK" value="DB1610.3.4" />
		<!--49-->
		<add key="半电流NG" value="DB1610.3.5" />
		<!--50-->
		<add key="当前电压" value="DB1610.18" />
		<!--51-->
		<add key="测试满电压" value="DB1610.22" />
		<!--52-->
		<add key="测试半电压" value="DB1610.26" />
		<!--53-->
		<add key="产品模式" value="DB1600.10" />
		<!--54-->
		<add key="产品ID" value="DB1600.12" />
		<!--55-->
		<add key="运行步骤" value="DB1600.14" />
		<!--56-->
		<add key="实时转矩" value="DB1600.60" />
		<!--57-->
		<add key="实时转速" value="DB1600.64" />
		<!--58-->
		<add key="满功率设置时间" value="DB1600.20" />
		<!--59-->
		<add key="满功率运行时间" value="DB1600.84" />
		<!--60-->
		<add key="跑合设置时间" value="DB1600.20" />
		<!--61-->
		<add key="跑合运行时间" value="DB1600.24" />
		<!--62-->
		<add key="制动设置时间" value="DB1600.28" />
		<!--63-->
		<add key="制动运行时间" value="DB1600.32" />
		<!--64-->
		<add key="残留设置时间" value="DB1600.36" />
		<!--65-->
		<add key="残留运行时间" value="DB1600.40" />
		<!--66-->
		<add key="半功率设置时间" value="DB1600.24" />
		<!--67-->
		<add key="电阻BC相ERROR" value="DB1610.1.0" />
		<!--68-->
		<add key="电阻BC相BUSY" value="DB1610.1.1" />
		<!--69-->
		<add key="电阻BC相OK" value="DB1610.1.4" />
		<!--70-->
		<add key="电阻BC相NG" value="DB1610.1.5" />
		<!--71-->
		<add key="跑合测试开始" value="DB1600.6.0" />
		<!--72-->
		<add key="跑合测试结束" value="DB1600.6.1" />
		<!--73-->
		<add key="制动测试开始" value="DB1600.6.2" />
		<!--74-->
		<add key="制动测试结束" value="DB1600.6.3" />
		<!--75-->
		<add key="残留转矩测试开始" value="DB1600.6.4" />
		<!--76-->
		<add key="残留转矩测试结束" value="DB1600.6.5" />
		<!--77-->
		<add key="R1值写入地址" value="DB1610.20" />
		<!--78-->
		<add key="R2值写入地址" value="DB1610.22" />
		<!--79-->
		<add key="电阻测量温 度写入地址" value="DB1610.24" />
		<!--80-->
		<add key="绝缘电阻 写入地址" value="DB1610.26" />
		<!--81-->
		<add key="本底绝缘电 阻写入地址" value="DB1610.28" />
		<!--82-->
		<add key="额定电压 写入地址" value="DB1610.30" />
		<!--83-->
		<add key="额定测试电 流写入地址" value="DB1610.32" />
		<!--84-->
		<add key="额定修正电 流写入地址" value="DB1610.34" />
		<!--85-->
		<add key="额定测试功 率写入地址" value="DB1610.36" />
		<!--86-->
		<add key="额定修正功 率写入地址" value="DB1610.38" />
		<!--87-->
		<add key="跑合转速 写入地址" value="DB1610.40" />
		<!--88-->
		<add key="跑合转矩 写入地址" value="DB1610.42" />
		<!--89-->
		<add key="制动转速 写入地址" value="DB1610.44" />
		<!--90-->
		<add key="制动转矩 写入地址" value="DB1610.46" />
		<!--91-->
		<add key="制动转矩本 底写入地址" value="DB1610.48" />
		<!--92-->
		<add key="残留转矩电 压写入地址" value="DB1610.50" />
		<!--93-->
		<add key="残留转矩 写入地址" value="DB1610.52" />
		<!--94-->
		<add key="残留转矩转 速写入地址" value="DB1610.54" />
		<!--95-->
		<add key="60%电压 写入地址" value="DB1610.56" />
		<!--96-->
		<add key="60%电压测试 电流写入地址" value="DB1610.58" />
		<!--97-->
		<add key="60%电压修正 电流写入地址" value="DB1610.60" />
		<!--98-->
		<add key="60%电压测试 功率写入地址" value="DB1610.62" />
		<!--99-->
		<add key="60%电压修正 功率写入地址" value="DB1610.64" />
		<!--100-->
		<add key="当日产量" value="0" />
		<!--101-->
		<add key="当日不良品数量" value="0" />
		<!--102-->
		<add key="当日良品数量" value="0" />
		<!--103-->
		<add key="00" value="0" />
		<!--104-->
		<add key="01" value="0" />
		<!--105-->
		<add key="02" value="0" />
		<!--106-->
		<add key="03" value="0" />
		<!--107-->
		<add key="04" value="0" />
		<!--108-->
		<add key="05" value="0" />
		<!--109-->
		<add key="06" value="0" />
		<!--110-->
		<add key="07" value="0" />
		<!--111-->
		<add key="08" value="0" />
		<!--112-->
		<add key="09" value="0" />
		<!--113-->
		<add key="10" value="0" />
		<!--114-->
		<add key="11" value="0" />
		<!--115-->
		<add key="12" value="0" />
		<!--116-->
		<add key="13" value="0" />
		<!--117-->
		<add key="14" value="0" />
		<!--118-->
		<add key="15" value="0" />
		<!--119-->
		<add key="16" value="0" />
		<!--120-->
		<add key="17" value="0" />
		<!--121-->
		<add key="18" value="0" />
		<!--122-->
		<add key="19" value="0" />
		<!--123-->
		<add key="20" value="0" />
		<!--124-->
		<add key="21" value="0" />
		<!--125-->
		<add key="22" value="0" />
		<!--126-->
		<add key="23" value="0" />
		<!--127-->
		<add key="产量更新日期" value="2018-12-31" />
		<!--128-->
		<add key="半功率运行时间" value="DB1600.52" />
		<!--129-->
		<add key="Excel保存路径" value="C:\Users\fangx\Desktop" />
		<!--130-->
		<add key="远程设置安规" value="0" />
		<!--131-->
		<add key="左间隙测量开始" value="DB1600.8.0" />
		<!--132-->
		<add key="左间隙测量结束" value="DB1600.8.1" />
		<!--133-->
		<add key="左间隙测量OK" value="DB1610.8.0" />
		<!--134-->
		<add key="左间隙测量NG" value="DB1610.8.1" />
		<!--135-->
		<add key="左间隙测量值REAL" value="DB130.204" />
		<!--136-->
		<add key="设备初始化开始" value="M300.0" />
		<!--137-->
		<add key="设备初始化完成信号" value="M300.2" />
		<!--138-->
		<add key="设备启动信号" value="M300.3" />
		<!--139-->
		<add key="设备初始化步数" value="DB1600.16" />
		<!--140-->
		<add key="绝缘OK" value="DB1610.2.4" />
		<!--141-->
		<add key="绝缘NG" value="DB1610.2.5" />
		<!--142-->
		<add key="备用1" value="DB1610.2.3" />
		<!--143-->
		<add key="备用2" value="DB1610.2.3" />
		<!--144-->
		<add key="备用3" value="DB1610.2.3" />
		<!--145-->
		<add key="设备停止信号" value="M300.4" />
		<!--146-->
		<add key="实际电压值REAL" value="DB130.36" />
		<!--147-->
		<add key="备用6" value="DB1610.2.3" />
		<!--148-->
		<add key="备用7" value="DB1610.2.3" />
		<!--149-->
		<add key="备用8" value="DB1610.2.3" />
		<!--150-->
		<add key="备用9" value="DB1610.2.3" />
		<!--151-->
		<add key="右间隙测量开始" value="DB1600.8.0" />
		<!--152-->
		<add key="右间隙测量结束" value="DB1600.8.1" />
		<!--153-->
		<add key="右间隙测量OK" value="DB1610.8.0" />
		<!--154-->
		<add key="右间隙测量NG" value="DB1610.8.1" />
		<!--155-->
		<add key="右间隙测量值REAL" value="DB130.216" />
		<!--156-->
		<add key="设置电压值REAL" value="DB130.156" />
		<!--157-->
		<add key="左间隙MinREAL" value="DB130.140" />
		<!--158-->
		<add key="左间隙maxREAL" value="DB130.116" />
		<!--159-->
		<add key="右间隙MinREAL" value="DB130.144" />
		<!--160-->
		<add key="右间隙MaxREAL" value="DB130.120" />
		<!--161-->
		<add key="左间隙补偿值REAL" value="DB130.172" />
		<!--162-->
		<add key="右间隙补偿值REAL" value="DB130.176" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<!--错误日志附加介质-->
		<appender name="RollingLogs" type="log4net.Appender.RollingFileAppender">
			<!-- 提供记录错误信息中的类中对错误信息的记录方式，记录方式是将信息日志写进一个文件中-->
			<file value="Logger/" />
		</appender>
		<appender name="RollingLog" type="log4net.Appender.RollingFileAppender">
			<!-- 提供记录错误信息中的类中对错误信息的记录方式，记录方式是将信息日志写进一个文件中-->
			<file value="Logger\loginInfo\" />
			<!--设置文件存储的位置-->
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="记录时间：%d 线程ID:[%thread]- 操作信息：%m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO" />
				<param name="LevelMax" value="INFO" />
			</filter>
		</appender>
		<appender name="RollingErr" type="log4net.Appender.RollingFileAppender">
			<file value="Logger\Err\" />存放异常日志文件夹
			<appendToFile value="true" /><!--输出的日志不会覆盖以前的信息--><maxFileSize value="1024" /><rollingStyle value="Date" /><datePattern value="yyyyMMdd'.txt'" /><staticLogFileName value="false" /><!--记录日志信息的格式--><layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="日志时间：%d 线程ID:[%thread]- 错误描述：%m%n 行号: %l(line)" />
			</layout><filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="ERROR" />
			</filter>
		</appender>
		<!-- 日志文件部分log输出格式的设定 -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--<file value="D:/log4netfile.txt" 日志的输出目录/>-->
			<file value="Logger\Log_" />
			<appendToFile value="true" />
			<!--输出的日志不会覆盖以前的信息-->
			<param name="MaxSizeRollBackups" value="100" />
			<!--备份文件的个数-->
			<param name="MaxFileSize" value="10240" />
			<!--当个日志文件的最大大小-->
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="" />
				<param name="Footer" value="" />
				<!--<param name="ConversionPattern" value="%n%d [%t] %-5p %c [%x]  - %m" />-->
				<param name="ConversionPattern" value="%d [%t] %-5p %m =&gt; %l %n" />
				<!--<conversionPattern value="%timestamp [%thread] %-5level %logger - %message%newline" />-->
			</layout>
		</appender>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Sqlite" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.4.0" newVersion="7.0.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>

</configuration>
